.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  width: calc(100%);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headerContainer {
  width: 100%;
  height: 115px;
  background-color: #2c2c2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a3a3c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.headerWrapper {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  position: relative;
  height: 55px;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #ff7b54;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.searchContainer:hover {
  cursor: text;
}

.searchInput {
  width: calc(100% - 50px);
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.searchIcon {
  width: 50px;
  height: 100%;
  color: #ff7b54;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.2s;
}

.searchHistoryContainer {
  position: absolute;
  top: 40px;
  left: -2px;
  width: calc(100% + 4px);
  min-height: 15px;
  background-color: #2c2c2e;
  border-left: 2px solid #ff7b54;
  border-right: 2px solid #ff7b54;
  border-bottom: 2px solid #ff7b54;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all ease-in-out 0.3s;
}

.searchHistoryHeader {
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #3a3a3c;
}

.searchHistoryRecordsContainer {
  margin-bottom: 15px;
}

.searchHistoryRecord {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  color: gray;
}

.searchHistoryIcon {
  width: 50px;
  height: 100%;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: 0.2s;
}

.searchHistoryRecordLabel {
  width: calc(100% - 100px);
}

.searchHistoryRecordDeleteIcon {
  width: 50px;
  height: 100%;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.2s;
}

.searchHistoryRecordDeleteIcon:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: #a40000;
}

.documentsContainer {
  width: 100%;
  height: calc(100% - 115px);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.documentsWrapper {
  width: calc(100% - 40px);
}

.document {
  border: 3px solid #3a3a3c;
  height: 70px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #2c2c2e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 0.15s ease-in-out;
}

.document:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.fileIcon {
  width: 60px;
  height: 100%;
  // background-color: red;
  color: #ff7b54;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.documentDataContainer {
  height: 100%;
  width: calc(100% - 80px);
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.documentOccurencesContainer {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #8e8e93;
}

.documentNameContainer {
  margin-top: 15px;
  font-size: 16px;
  color: white;
}

.loadingWrapper {
  height: calc(100% - 115px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  width: 75px;
  height: 75px;
}

@media (min-width: 700px) {
  .documentsWrapper {
    width: 660px;
  }

  .headerWrapper {
    width: 660px;
  }
}
