.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  background-color: green;
}