.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.mainWrapper {
  width: calc(100%);
  height: calc(100%);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.documentsContainer {
  width: calc(100% - 40px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.document {
  height: 70px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #2c2c2e;
}

.loadingContainer {
  width: 75px;
  height: 75px;
}

@media(min-width: 700px) {
  .documentsContainer {
    width: 660px;
  }
}